.hero{
    max-height: 100vh;
}
/* hero  */
.hero_content{
    color: white;
    /* position: absolute;
    top: 42%;
    left: 6%; */
    /* border: 2px solid red; */
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* top: 0; */
}
.hero_texts{
    width: 80%;
    text-align: center;
    
}
.hero_texts span{
    color: #66FCF1;
}
.hero_texts h3{
    font-family:'Shrikhand';
    font-size: 1.8rem;
    font-weight: bold;
}
.hero_texts h1{
    font-family:'Nautilus';
    /* font-weight: 500; */
    font-size:10rem;
    /* margin: -10%; */
}
.hero_texts h1 span{
    font-family:'Nautilus';
    color: #66FCF1;
    font-size: 15rem;
}
@media only screen and (max-width: 768px){
    .hero_texts h1 span{
        font-size: 10rem;
    }
    .hero_texts h1{
        font-size:8rem;
        margin: 0;
    }
}


.effect1 div{
    width:3px;
    height: 3px;
    border-radius: 100%;
    background: rgb(4, 211, 253);
    /* background: rgba(255, 255, 255, 0.05); */
    margin: 0 3px 8px ;
}
.effect1{
    position: absolute;
    width: 40px;
    /* height: 22px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 3%;
    bottom: 20%;
    /* border: 1px solid rgb(253, 253, 253); */
    /* background: rgb(255, 255, 255); */
    animation: updown 3s ease-in-out infinite;
    /* transition: .1s ; */
}
@keyframes updown{
    0%,100%{
        transform: translateY();
    }
    50%{
        transform: translateY(25px);
    }
}


.effect2{
    height: 13rem;
    width: 13rem;
    border: 9px solid rgb(4, 211, 253);
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: -15%;
    
    animation: rightleft 3s ease-in-out infinite;
}
@keyframes rightleft {
    0%,100%{
        transform: translateX()
    }50%{
        transform: translateX(30px);
    }
}
.rings span{
    height: 60px;
    width: 60px;
    position: absolute;
    background: transparent;
    border: 5px solid rgb(130, 227, 247);
    bottom: 0;
    
}
.rings span:nth-child(1){
    left: 5%;
    animation: popup 3s linear infinite;}
.rings span:nth-child(2){
    left: 30%;
    animation: popup 4s linear infinite;
}
.rings span:nth-child(3){
    right: 30%;
    animation: popup 5s linear infinite;
}
.rings span:nth-child(4){
    right: 5%;
    animation: popup 3s linear infinite;
}
@keyframes popup {
    0%{
        transform: scale(0) translateY(-1000px) rotate(360deg);
        opacity: 1;
    }100%{
        transform: scale(1.2) translateY(100px) rotate(-180deg);
        border-radius: 100%;
        opacity: 0;
    }
}