.projects{
    min-height: 100vh;
    width: 100%;
}
.project{
    padding-top: 8rem;
    width: 80%;
    margin: auto;
}
@media only screen and (max-width:900px) {
    /* .project{
        padding-top:rem;
    } */
}
.project h1{
    text-align: center;
    color: #66FCF1;
    /* transition: ease-in-out .4s; */
    /* margin-top: 8rem; */
    margin-bottom: 2rem;
    font-family: "Airstrike";
    transition: ease-in-out .4s;
}
.project h1:hover{
    color: gold;
    scale: 1.1;
  
}